.new_members_icon {
  background:image-url("refinery/icons/new_account.png") center left no-repeat;
  padding:0 0 0 20px;
  white-space:nowrap;
}
.members_icon {
  background:image-url("refinery/icons/user.png") center left no-repeat;
  padding:0 0 0 20px;
  white-space:nowrap;
}
.email_icon {
  background:image-url("refinery/icons/email.png") center left no-repeat;
  padding:0 0 0 20px;
  white-space:nowrap;
}
.roles_icon {
  background:image-url("refinery/icons/group.png") center left no-repeat;
  padding:0 0 0 20px;
  white-space:nowrap;
}
.options_icon {
  background:image-url("refinery/icons/cog_edit.png") center left no-repeat;
  padding:0 0 0 20px;
  white-space:nowrap;
}
