.new_members_icon {
  background-image: image-url("refinery/icons/new_account.png");
  background-repeat: none;
}
.members_icon {
  background-image: image-url("refinery/icons/user.png");
  background-repeat: none;
}
.email_icon {
  background-image: image-url("refinery/icons/email.png");
  background-repeat: none;
}
.roles_icon {
  background-image: image-url("refinery/icons/group.png");
  background-repeat: none;
}
.options_icon {
  background-image: image-url("refinery/icons/cog_edit.png");
  background-repeat: none;
}
